/* CART SECTION */

.cart-header{
  padding-left: 32px;
  padding-top: 32px;
  border-bottom: 1px solid black;
  margin: 0 auto 2rem;
  max-width: 1200px;
  font-size: medium;
}

.cart-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1200px;
}

.cart-product{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.cart-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.cart-product-main{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.cart-product-main img{
  width: 30%;
  height: auto;
  object-fit: contain;
}

.cart-product-meta{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
  color: black;
}

.cart-product-meta p{
  margin-top: auto;
  margin-bottom: auto;
}

.cart-quantity{
  display: flex;
  align-items: center;
  border: 1px solid #000;
  width: 30%;
  justify-content: space-between;
}

.cart-quantity button{
  background: none;
  border: none;
  padding: 0.4rem;
  cursor: pointer;
}

.cart-quantity span{
  flex: 1;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

/* shipping */

.cart-shipping {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.shipping-option {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  background-color: #616161;
}

.shipping-option + .shipping-option {
  border-top: 1px solid black;
}

.shipping-option p {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.3;
}

.shipping-option p:last-child {
  font-weight: 600;
  white-space: nowrap;
}

/*summary*/

.order-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.promo-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  font-size: 0.9rem;
}

.order-summary {
  background-color: #7a7a7a;
  color: white;
  padding: 1.5rem;
}

.order-summary h2 {
  margin-bottom: 1rem;
}

.order-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}

.order-row p {
  margin: 0;
  padding: 10px 10px 10px 0px;
}

.order-row-total {
  font-weight: 700;
  margin-top: 1rem;
}

.order-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paypal-btn,
.checkout-btn {
  width: 100%;
  padding: 14px;
  border-radius: 40px;
  text-align: center;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: white;
  text-decoration: none;
}

.paypal-btn:hover,
.checkout-btn:hover {
  background-color: #616161;
}