/* Confirmation*/
.confirmation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin: 4rem auto;
}

.confirmation-card {
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size: 0.9rem;
}

.confirmation-icon{
  font-size: 4rem;
}

.confirmation-message {
  border-bottom: 1px solid #111;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.confirmation-receipt{
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.confirmation-receipt > div{
  display: flex;
  justify-content: space-between;
}

.confirmation-actions{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.confirmation-actions a{
  text-decoration: none;
  background-color: #111111;
  color: white;
  padding: 14px 40px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.2s ease;
  min-width: 180px;
}

.confirmation-actions a:hover{
  background-color: #444444;
}