/* FORM */

.payment-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: 50px;
  max-width: 1200px;
}

form fieldset {
  border: none;
  margin: 0 0 2.5rem;
  padding: 0;
}

form legend {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1rem;
}

form input,
form select {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  font-size: 0.9rem;
  box-sizing: border-box;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.phone-code{
  display: grid;
  grid-template-columns: 1fr 80px;
}

form select {
  text-align: center;
  background: white;
  cursor: pointer;
}

.shipping-option {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  background-color: #616161;
}

.shipping-option + .shipping-option {
  border-top: 1px solid black;
}

.shipping-option p {
  margin: 0;
  font-size: 0.85rem;
  line-height: 1.3;
}

.shipping-option p:last-child {
  font-weight: 600;
  white-space: nowrap;
}

.shipping-type {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.shipping-option-white{
  background-color: #ffffff;
}

.payment-type{
  display: flex;
  flex-direction: column;
  border:1px solid black;
}

.payment-option {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0.8rem 1rem;
  gap: 0.5rem;
}

.payment-option + .payment-option {
  border-top: 1px solid black;
}

.payment-option p {
  margin: 0;
  white-space: nowrap;
}

.payment-option i {
  font-size: 1.4rem;
}
.card-inputs {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cta-paynow{
  display: block;
  margin-top: 2rem;
  text-align: center;
  background: black;
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 50px;
  font-weight: 600;
}

.cta-paynow:hover {
  background: #616161;
}

.legal-text{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
  font-size: 0.75rem;
}

.legal-text a{
  color: black;
}

/*CART SECTION */

.card-inputs {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.cta-paynow{
  display: block;
  margin-top: 2rem;
  text-align: center;
  background: black;
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 50px;
  font-weight: 600;
}

.cta-paynow:hover {
  background: #616161;
}

.legal-text{
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-wrap: wrap;
  font-size: 0.75rem;
}

.legal-text a{
  color: black;
}

.purchase-summary img{
  width: 30%;
}

.cart-product{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.cart-product-main{
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.cart-product-main img{
  width: 30%;
  height: auto;
  object-fit: contain;
}

.cart-product-meta{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.9rem;
  color: black;
}

.cart-product-meta p{
  margin-top: auto;
  margin-bottom: auto;
}

.cart-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.cart-quantity span{
  flex: 1;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.cart-quantity{
  display: flex;
  align-items: center;
  border: 1px solid #000;
  width: 30%;
  justify-content: space-between;
}

.cart-quantity button{
  background: none;
  border: none;
  padding: 0.4rem;
  cursor: pointer;
}

.edit-cart{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-product-2{
  padding-bottom: 3rem;
}


.promo-box{
  padding-bottom: 1rem;
}

/*SUMMARY SECTION*/

.order-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.promo-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  font-size: 0.9rem;
}

.order-summary {
  background-color: #7a7a7a;
  color: white;
  padding: 1.5rem;
}

.order-summary h2 {
  margin-bottom: 1rem;
}

.order-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
}

.order-row p {
  margin: 0;
  padding: 10px 10px 10px 0px;
}

.order-row-total {
  font-weight: 700;
  margin-top: 1rem;
}