/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */


body {
  font-family: var(--font-body);
  color: black;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

main{
  margin-top: 100px;
}

nav {
  background-color: #111111;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-logo{
  width: 120px;
  height: auto;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav-left{
  justify-self: start;
}

.nav-right {
  display: flex;
  gap: 1rem;
  justify-self: end;
}

/* HERO SECTION */

.hero {
  display: grid;
  grid-template-areas: "hero";
}

.hero-image {
  grid-area: hero;
}

.hero-content {
  grid-area: hero;
  margin-top: auto;
  color: white;
}

.hero-title{
  text-align: left;
}

.hero-title-strong {
  display: block;
  font-weight: 900;
}

.hero-title-main {
  display: block;
  font-weight: 100;
}

.hero-title span:last-child {
  display: block;
  font-weight: 400;
}


.hero-image img{
  width: 100%;
  height: auto;
  display: block;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: center;
  padding: 20px;
}

.hero-subtitle {
  max-width: 250px;
}


/* FOOTER */


footer{
  background-color: #111111;
  padding: 20px;
}


/* Coming soon*/

.under-construction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  min-height: 100vh;
}