/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */


body {
  font-family: var(--font-body);
  color: black;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

main{
  padding-top: 100px;
}

nav {
  background-color: #111111;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-logo{
  width: 120px;
  height: auto;
}

.main-nav {
  width: 100%;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.nav-left{
  justify-self: start;
}

.nav-right {
  display: flex;
  gap: 1rem;
  justify-self: end;
}

/* HERO SECTION */

.hero {
  display: grid;
  grid-template-areas: "hero";
}

.hero-image {
  grid-area: hero;
}

.hero-content {
  grid-area: hero;
  margin-top: auto;
  color: white;
}

.hero-title{
  text-align: left;
}

.hero-title-strong {
  display: block;
  font-weight: 900;
}

.hero-title-main {
  display: block;
  font-weight: 100;
}

.hero-title span:last-child {
  display: block;
  font-weight: 400;
}


.hero-image img{
  width: 100%;
  height: auto;
  display: block;
}

.hero-content{
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content: center;
  padding: 20px;
}

.hero-subtitle {
  max-width: 250px;
}

.cta-home{
  text-decoration: none;
  color: black;
  background-color: #ffff;
  font-weight: 600;
  display: inline-block;
  padding: 20px 25px;
  width: fit-content;
  border-radius: 50px;
}

.cta-home:hover{
  color: #ffff;
  background-color: #111111;
  border-color: black;
}

/* PRODUCTS SECTION */
.featured-products h2{
  text-align: center;
  margin: 3rem;
}

.featured-products > div{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 7rem;
  padding: 0 4rem;
  max-width: 1440px;
  margin: 0 auto;
}

.featured-products a{
  display: block;
  text-decoration: none;
  color: inherit;
}

.featured-products img{
  width: 100%;
  height: auto;
  display: block;
}

.product-info{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 20px;
}

.product-price {
  font-weight: 700;
}


/* MODELS SECTION */
.models-showcase h3{
  text-align: center;
  margin: 3rem;
}

.models-showcase > div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.models-showcase > div >div{
  position: relative;
}

.models-showcase img {
  width: 100%;
  display: block;
}

.cta-models{
  position: absolute;
  width: 85%;
  bottom: 0.5rem;
  left: 50%;
  text-decoration: none;
  color: black;
  background-color: #ffff;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50px;
}

.cta-sale{
  color:#A90000;
}

/* Hashtag*/
.slogan-image{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slogan-image img{
  width: 100%;
  display: block;
}

.slogan-text{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 5rem;
}


/*PRODUCT DETAILS*/

.product-specific-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin: 4rem auto 0;
  padding: 0 1rem;
  max-width: 1200px;
  align-items: stretch;
}

.product-specific-layout img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.product-specific-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.product-specific-section a{
  margin-top: auto;
}

.product-specific-layout a{
  text-decoration: none;
  background-color: #111111;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 12px;
  border-radius: 50px;
}

.product-specific-layout a:hover {
  background-color: #616161;
  color: #ffffff;
  border: 1px solid black;
}

.size-option input{
  display: none;
}

.size-selector {
  display: flex;
  gap: 3rem;
}


.size-option span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  border: 1px solid black;
  background-color: #ffffff;
  color: black;
  font-weight: 500;
  padding: 8px 5px;
  border-radius: 20px;
  font-size: 0.9rem;
  transition: all 0.2s ease;
}

.size-option input:checked + span {
  background-color: black;
  color: white;
  border-color: black;
}

/* Related products*/

.related-products {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 1.5rem;
}

.related-products h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.related-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.related-card img {
  width: 100%;
  object-fit: cover;
}

.related-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

.related-info p:first-child {
  font-weight: 500;
  margin-bottom: 0px;
}

.related-info p:last-child {
  font-weight: 800;
  margin-top: 0px;
}

/*Reviews*/

.reviews{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 1.5rem;
}
.reviews h3{
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 0px;
}

.review-header {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.review-body {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.review-body p{
  margin-top: 10px;
}
.user-reviews {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-reviews p:last-child{
  font-weight: 700;
}

.review-likes {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.review-likes i {
  font-size: 1.2rem;
  line-height: 1;        
}

.review-likes p {
  margin: 0;           
}

.review-meta {
  font-size: 0.8rem;
  color: black;
}



/* FOOTER */


footer{
  background-color: #111111;
  padding: 20px;
  color: white;
}

footer h4{
  margin: 0 0 0.5rem 0;
}

footer img{
  width: 200px;
  height: auto;
}

.footer-layout{
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 2rem;
  margin: 0 auto;
  padding: 2rem;
  align-items: stretch;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

.footer-layout > div{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer-layout img{
  justify-self: end;
  align-self: center;
}

footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.support a{
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.support a:hover{
  text-decoration: underline;
}

.support li{
  margin-bottom: 0.6rem;
}

.footer-middle {
  display: grid;
  grid-template-rows: auto 1fr 2fr;
  height: 100%;
}

.social{
  grid-row: 1;
  margin-bottom: 3.5em;
}

.social-icons{
  margin-top: 0.25rem;
  gap: 1rem;
  display: flex;
}

.social-icons i{
  font-size: 1.4rem;
  cursor: pointer;
}

.newsletter{
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.newsletter input[type="text"] {
  padding: 0.5rem;
  width: 70%;
}

.newsletter label{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

.newsletter input[type="text"] {
  padding: 0.6rem;
  width: 55%;
  box-sizing: border-box;
}


.info-links {
  margin-top: 2rem;
}

.info-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.info-links li {
  display: inline-block;
  margin: 0 1rem;
}

.info-links a {
  color: white;
  font-size: 0.9rem;
}





/* Coming soon*/

.under-construction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  min-height: 100vh;
}